#attention {
  position: relative;

  img {
    width: 1920px;
    height: 788px;
  }
  .facebook-link {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
  }
}
