#facebook-ball {
  width: 100px !important;
  height: 100px;
  z-index: 11;
}
.facebook-link {
  width: 68px;
  height: 68px;
  cursor: pointer;
}
.affix {
  position: fixed;
  right: 40px;
  bottom: 20px;
}
.unfix {
  position: absolute;
  bottom: 178px;
  right: 44px;
}
#mb-facebook-ball {
  width: 200px !important;
  height: 200px;
  z-index: 10;
}
.mb-facebook-link {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.mb-affix {
  position: fixed;
  bottom: 36px;
  right: 34px;
}
.mb-unfix {
  position: absolute;
  bottom: 1103px;
  right: 34px;
}
