#kv {
  position: relative;
  height: 1260px;
  width: 750px;
  overflow-x: hidden;

  .header {
    width: 750px;
    height: 114px;
    z-index: 100;
    position: relative;
  }

  #kv-role {
    position: absolute;
    width: 750px;
    height: 1103px;
    left: 0;
    top: 0;
    animation: fadeInTop 2s ease;
  }

  @keyframes fadeInTop {
    0% {
      transform: scale(1.1) translateY(-70px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }

  .kv-logo {
    position: absolute;
    width: 297px;
    height: 196px;
    left: calc((750px - 297px) / 2);
    top: 134px;
  }

  .kv-finger {
    position: absolute;
    width: 127px;
    height: 127px;
    left: calc((750px - 12px) / 2 + 200px);
    bottom: 50px;
    animation: moveFinger 1.3s ease-out infinite;
  }

  @keyframes moveFinger {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(-20px) translateY(-20px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  @keyframes breathing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}

#page-title {
  width: 518px;
  height: 195px;
  left: calc((100% - 518px) / 2);
  top: 928px;
  z-index: 11;
  animation: fadeInDown 2s ease;
}

#page-subtitle {
  width: 554px;
  height: 117px;
  left: calc((100% - 554px) / 2);
  bottom: 0;
  animation: fadeIn 2s ease;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(50px) translateX(0);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 900px) {
  #kv {
    position: relative;
    height: 1260px;
    width: 750px;
    overflow-x: hidden;

    .header {
      width: 750px;
      height: 114px;
      z-index: 100;
      position: relative;
    }

    #kv-role {
      position: absolute;
      width: 750px;
      height: 1103px;
      left: 0;
      top: 0;
      animation: fadeInTop 2s ease;
    }
    .kv-logo {
      position: absolute;
      width: 297px;
      height: 196px;
      left: calc((750px - 297px) / 2);
      top: 134px;
    }

    .kv-finger {
      position: absolute;
      width: 127px;
      height: 127px;
      left: calc((750px - 12px) / 2 + 200px);
      bottom: 50px;
      animation: moveFinger 1.3s ease-out infinite;
    }
  }

  #page-title {
    width: 518px;
    height: 195px;
    left: calc((100% - 518px) / 2);
    top: 928px;
    z-index: 11;
    animation: fadeInDown 2s ease;
  }

  #page-subtitle {
    width: 554px;
    height: 117px;
    left: calc((100% - 554px) / 2);
    bottom: 0;
    animation: fadeIn 2s ease;
  }
}
