#role {
  position: relative;
  width: 100vw;
  height: 1096px;
  font-family: Hak, sans-serif;

  .role-bg {
    width: 750px;
    height: 1098px;
    position: relative;
    top: -1px;
    z-index: 9;
  }

  .slide-left {
    animation: slide-left 0.4s linear both
  }

  .achievement-inner {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 10;
    padding-top: 20px;
    display: grid;
    place-items: center;

    .dark-mask {
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .title {
      width: 227px;
      height: 76px;
    }
    .lvbu {
      width: 496px;
      height: 970px;
      position: absolute;
      left: 0;
      top: 110px;
      transition: all 0.3s cubic-bezier(0.3, 0.2, 0.15, 1);
      transition-delay: 0.2s;
      transform: translateX(-100%);
    }
    .slideInLeft {
      transform: translateX(0);
    }
    .slideOutLeft {
      transform: translateX(-100%);
    }
    .people {
      margin-top: 80px;
    }
    ul {
      li {
        position: relative;
        width: 100%;
        height: 156px;
        font-size: 23px;
        margin-bottom: 43px;
        transform: translate3d(100%, 0, 0);

        .achievement-item {
          position: relative;
          margin: auto;
          height: 156px;
          float: right;
        }
        .achievement-item-not-achieved {
          filter: brightness(0.5);
        }
      }
      li:nth-child(1) {
        .achievement-item {
          width: 557px;
          height: 156px;
          top: calc((125px - 156px) / 2);
        }
      }
      li:nth-child(2) {
        animation-delay: 0.1s;
        .achievement-item {
          width: 630px;
          height: 156px;
          top: calc((125px - 156px) / 2);
        }
      }
      li:nth-child(3) {
        animation-delay: 0.2s;
        .achievement-item {
          width: 688px;
          height: 175px;
          top: calc((125px - 175px) / 2);
        }
      }
      li:nth-child(4) {
        animation-delay: 0.3s;
        .achievement-item {
          width: 747px;
          height: 203px;
          top: calc((142px - 203px) / 2);
        }
      }
    }
  }
  .seal-icon {
    width: 120px;
    height: 84px;
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 10;
  }

  @keyframes slide-left {
    0% {
      left: -300px;
    }
    100% {
      left: 0;
    }
  }
}
.slideInRight {
  animation: slideInRight 0.4s ease both;
}
.slideOutRight {
  animation: slideOutRight 0.4s ease both;
}
@keyframes slideInRight {
  0%{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutRight {
  100%{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  0%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
