#float-pop {
  width: 750px;
  position: fixed;
  bottom: 0;
  z-index: 1002;

  .fix-image {
    width: 750px;
    height: 365px;
    background: url("@/mb/assets/img/float-pop-orange.png") no-repeat;
    background-size: 100% 100%;
    animation: animateBg 6s infinite cubic-bezier(0, -10, 1, 10);

    .to-event-btn {
      width: 265px;
      height: 110px;
      position: absolute;
      bottom: 20px;
      right: 40px;
    }
  }

  @keyframes animateBg {
    0% {
      background: url("@/mb/assets/img/float-pop-orange.png") no-repeat;
      background-size: 100% 100%;
    }
    50% {
      background: url("@/mb/assets/img/float-pop-blue.png") no-repeat;
      background-size: 100% 100%;
    }
    100% {
      background: url("@/mb/assets/img/float-pop-orange.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}

.slide-bottom {
  animation: slide-bottom 0.4s linear both;
}

@keyframes slide-bottom {
  100% {
    transform: translateY(0)
  }
  0% {
    transform: translateY(315px)
  }
}
