#mb-info {
  width: 750px;
  height: 1249px;
  box-sizing: border-box;
  z-index: 1001;
  position: relative;
  top: -4px;
  overflow: hidden;

  .info-bg{
    width: 750px;
    height: 1246px;
  }
  .mb-swiperWrapper {
    position: absolute;
    width: 100vw;
    height: 981px;
    top: 118px;
    z-index: 100;
  }
  .title {
    width: 231px;
    height: 100px;
    position: absolute;
    top: 24px;
    left: calc((100vw - 231px) / 2);
  }
}
